header
	padding: 25px 0
.brand
	display: block
#hero
	margin-bottom: 50px
	&.homepage
		background: url('http://res.cloudinary.com/local-credit/image/upload/v1484473818/homepage.jpg') no-repeat center center;
		background-size: cover
		@media (min-width:1170px)
			height: 400px