// Grid system
.main {
  @include make-col-ready();
  @include media-breakpoint-up(sm) {
    @include make-col($main-sm-columns);
    .sidebar-primary & {
      @include make-col($main-sm-columns - $sidebar-sm-columns);
    }
  }
}
.sidebar {
  @include make-col-ready();
  @include media-breakpoint-up(sm) {
    @include make-col($sidebar-sm-columns);
  }
}
@media (min-width: $screen-lg-min) {
  .container {
    max-width: 1200px;
    padding-left: 0;
    padding-right: 0;
  }
}
.main {
  padding-left: 0;
  padding-right: 0;
}